
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

select, input {
    font-size: 0.8em;
    height: 2em;
}

.phrase-table {
    width: 100%;
}

.phrase-table-header tr th {
    white-space: nowrap;
    text-align: left;
}

/* : fact-claim-spacing */
.phrase-table-header tr th:nth-child(3) {
    width: 100%;
}

/* : fact-claim-spacing */
.phrase-table-body tr td:nth-child(4) {
    white-space: nowrap;
}

.phrase-table-footer {
    padding-top: 0.8em;
}

.phrase-position-selector {
    width: 8em;
    margin-left: 0.2em;
}

.phrase-verb-selector {
    margin-left: 0.2em;
}

.phrase-table-row-control {
    padding: 0.4em 0.8em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.phrase-table-row-control i {
    font-size: 0.8em;
}

.phrase-lodial-selector {
    width: 7em;
}

.phrase-table-button-control {
    margin-top: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.phrase-fact-editor {
    width: 100%;
}

.phrase-table-document-view {
    padding: 0.4em;    
}